.mainContainer{
    background-color: rgb(255, 255, 255);
    height: 82vh;
    display: contents;display: contents;
    padding: 0;
}

.container{
    display: flex;
    background-color: rgb(27, 26, 26);
    align-items: center;
    box-shadow: 10px 10px 16px rgb(0 0 0 / 30%);
    height: 95.4%;
    width: 100%;
    margin-top: 2em;
}
.barNavitaion{
    display: flex;
    width: 15%;
    background-color: #fdfeff;
    height: 96.5vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.areaData{
    background-color: #c9c9c9;
    width: 85%;
    height: 96.5vh;
}