.container{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: blue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: 54px;
    border-radius: 20px;
}